body {
  font-family: sans-serif;
  background: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
@media (max-width: 767px){
  .HomePage_container__bDOKH{
    display: flex;
    justify-content: center;
  }
}


