body {
  font-family: sans-serif;
  background: linear-gradient(to right bottom, #051937, #162454, #312d70, #533389, #7a359f);  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}
.goods__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 200px;
  text-align: center;
  border: 2px solid #fff;
  margin-top: 50px;
  border-radius: 10px;
  color: #fff;
}
.name{
  font-size: 25px;
  font-weight: bold;
}
.category{
  font-size: 20px;
}
.price{
  text-decoration: underline;
}
.goods__button{
  width: 170px;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  transition: .4s;
}
.goods__button:hover{
  cursor: pointer;
  background: rgb(255, 255, 255, .6);
}

