.link{
  color: #adb1b8;
  text-decoration: none;
  transition: .8s;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  margin-right: 10px;
}
.nav-link-selected{
  color: red;
}
.link__basket{
  text-decoration: none;
}
.link:hover{
  color: #fff;
  text-decoration: underline;
}
.basket{
  width: 35px;
  height: 35px;
}
.counter{
  color: #adb1b8;
  font-size: 25px;
  font-weight: normal;
  margin-left: 10px;
}

@media (max-width: 991px){
  .basket{
    width: 25px;
    height: 25px;
  } 
  .counter{
    font-size: 20px;
  }
}